TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
NAME=ens192
UUID=8c2f9d0d-d54f-40bf-8959-27adf2872b7c
DEVICE=ens192
ONBOOT=yes
NETMASK=255.255.255.0
IPADDR=10.0.0.200
ZONE=public
